:root {
  --title-one-font: '';
  --header-font: '';
  --breack-point: 1000px;
}

.container {
  max-width: 365px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
