.main-header__container {
  text-align: center;
}

@media (min-width: 1000px) {
  .main-header__container .masthead {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .main-header__text-container {
    max-width: 75%;
    text-align: left;
  }
}

/* .main-header__text-container {
} */
